{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block index %}active{% endblock %}

{% block body %}

    <main role="main" id="main">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index">Accueil</a></li>
            <li class="breadcrumb-item active" aria-current="page">Admin</li>
        </ol>
    </nav>
    <div class="container mt-3">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                {% for user in listUser %}
                    <th scope="row">{{ user.id }}</th>
                    <td>{{ user.email }}</td>
                    <td>{{ user.role }}</td>
                    <td>
                        {% if user.isActive %}
                            <i class="fas fa-check text-success"></i>
                        {% else %}
                            <i class="fas fa-times text-danger"></i>
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>

            </tbody>
        </table>


    </div>

    </main>{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}